.card__container {
  position: relative;
  @apply h-20;
}

.card {
  @apply bg-purple-300 flex items-center justify-center shadow-sm text-3xl;
  transition: all 0.8s ease-in;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card__back,
.card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__back {
  @apply bg-purple-700;
}

.card--open {
  transform: rotateY(0);
}

.card--resolved {
  @apply bg-green-400;
  transform: rotateY(0) translateY(100%);
  opacity: 0;
}
